@import "tailwindcss";

@layer base {
  * {
    border-color: rgb(229 231 235);
  }
  
  body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
